.DS_Store
dist/electron/*
dist/web/*
dist
build
build/*
!build/icons
node_modules/
node_modules.*
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
errorLog.txt
log.txt
uuid.txt
doorIp.txt
pnpm-lock.yaml
