#home .home_title {
  font-size: 4rem !important;
  width: 100%;
  text-align: center;
}
#home .light_list {
  width: 80%;
  height: 41rem;
  top: 40%;
}
#home .light_list .borrow {
  margin-right: 2rem !important;
}
#home .light_list .light_right {
  display: flex;
  flex-direction: column;
}
#home .light_list .light_right .back {
  margin-bottom: 1rem;
  flex: 1;
}
#home .light_list .light_right .right_bottom {
  margin-top: 1rem;
  flex: 1;
}
#home .light_list .light_right .right_bottom .continue {
  width: auto;
  flex: 1;
  margin-right: 1rem;
}
#home .light_list .light_right .right_bottom .search {
  width: auto;
  flex: 1;
  margin-left: 1rem;
}
#background .back-header {
  height: 8.75rem !important;
}
#background .back-header .header-body {
  height: 100%;
  top: 0 !important;
}
#background .back-header .header-body .header-operating .operating-img {
  width: 3rem !important;
}
.w-250-su {
  width: 18rem !important;
  height: 18rem !important;
}
.w-500-su {
  width: 38rem ;
  height: 18rem;
}
.w-status-light {
  width: 31rem;
}
.form-blue-btn,
.form-yellow-btn {
  min-width: 15rem;
  height: 5.5rem;
  font-size: 1.5rem;
}
.font-18 {
  font-size: 1.7rem !important;
}
.font-28 {
  font-size: 2rem !important;
}
.w-24 {
  width: 2rem;
  height: 2rem;
}
.code-name {
  width: 100% !important;
  text-align: left !important;
  margin-bottom: 1rem;
}
.code-input {
  width: 100% !important;
  height: 5.5rem;
}
.table-info {
  width: 100% !important;
  top: 20% !important;
}
.font-14 {
  font-size: 1.45rem;
}
.h-40 {
  min-height: 3.5rem;
}
.h-52 {
  min-height: 4rem;
}
.max-table {
  min-height: 50rem ;
}
.w-status-img {
  width: 19rem !important;
}
.flex-wrap {
  flex-wrap: wrap;
}
.font-20 {
  font-size: 1.5rem;
}
.people .value {
  flex: 1;
}
.font-16 {
  font-size: 1.25rem !important;
}
.font-24 {
  font-size: 1.75rem !important;
}
#background .back-header .header-body .header-operating {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.w-scan {
  width: 40rem;
}
.w-scan-posi {
  width: 22rem;
  height: 22rem;
}
